*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px auto auto 80px;
    grid-template-areas: 
    "h"
    "m"
    "f"
    ;
}

header{
    background-image: url(img/cabecalho.jpg);
    background-size: 100% 100%;
    grid-area: h;
    display: flex;
    align-items: center;
}

main{
    grid-area: m;
    background-color: #939393;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 400px;
    row-gap: 200px;
    padding-top: 50px;
}

.card{
    display: flex;
    flex-direction: column;
}

.cardinfo{
    background-color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    column-gap: 100px;
}

.cardinfo a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

footer{
    grid-area: f;
    background: #C8A000;
    height: 150px;
}